footer{
    position: relative;
    width: 100%;
    background-color:black;
    font-size:0.9em;
}

footer div>h4:first-child{
    margin-top:3em;
 }
 
 footer li, footer a{
     color:white;
     margin:0.3em;
     
 }
 
 footer>div{
     color:white;
     position: relative;
     left:158px;
     margin:0em 7.3em 2em 0em;
     float:left;
     opacity:0.6;
 }
 
 #socialMedias img{
     width:30px;
     height: 30px;
     opacity: 0.5;
 }
 
 #payInfo{
     margin: 1em 0em;
     padding: 1em 0em;
     width: 78%;
     border-top: 1px ridge gray;
     border-bottom: 1px ridge gray;
 
 }
 
 #payInfo img{
     width: 120px;
     margin: 1em;
 }
 
 #payInfo>div{
    float:left;
    margin: 0em 9em 1em 0em;
 }