
.menu { 
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 100;
    top: 0px;
}

.menu__right {
    align-items: center;
    height: 100%;
}

.menu__list {
    float: right;
    list-style-type: none;
    padding: 0;
    margin-right: 40px;
}

.menu__list-item {
    display: inline-block;
    height: 100%;
    margin-right: 20px;
}

.menu__list-item:last-child {
    margin-right: 0;
}

.menu__link {
    color:white;
    display: inline-block;
    height: 100%;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 6px 3px;
}

.menu__link:hover {
    color: #FFAAAA;
}

.menu__link--active {
    color: #FFAAAA;
    border-top: 4px solid #FFAAAA;
    font-weight: 700;
}

#title {
    color: white;
    font-size: 30px;
    left:100px;
    margin: 0;
}