
.menu { 
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 100;
    top: 0px;
}

.menu__right {
    align-items: center;
    height: 100%;
}

.menu__list {
    float: right;
    list-style-type: none;
    padding: 0;
    margin-right: 60px;
}

.menu__link {
    color:white;
    display: inline-block;
    margin-right: 20px;
    height: 100%;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    padding: 6px 3px;
}

.menu__link:hover {
    color: #FFAAAA;
}

.menu__link:last-child {
    margin-right: 0;
}

.active {
    color: #FFAAAA;
    border-top: 4px solid #FFAAAA;
    font-weight: 700;
}

#title {
    position: relative;
    color: white;
    font-size: 30px;
    left:100px;
    top: 30px;
    margin: 0;
} 

#searchButton {
    border-radius: 3px;
    width: 50px;
    height: 32px;
    font-size: 20px;
    background-color:#FFAAAA;
    border: none;
    color: white;
    cursor: pointer; 
}

#search {
    position: relative;
    top:-2px;
    left:450px;
} 

.normalWhite {
    color:white;
    font-size:0.7em;
    font-weight: bold;
}
